In [2]:
import os
os.getcwd()

'/workspaces/jupyter-stable-diffusion/test-project'

In [4]:
import pandas as pd
df = pd.DataFrame( { 'height' : [ 30,50,40 ], 'weight': [ 45, 25, 25 ] } )
df

   height  weight
0      30      45
1      50      25
2      40      25

In [5]:
import matplotlib.pyplot as plt
df.plot()
plt.ylim( 0, 50 )
plt.show()

ModuleNotFoundError: No module named 'matplotlib'